.Main{
    width:96%;
    height:100%;
    padding:2%;

}
.first{
    width:100%;
    height:86vh;
    display: flex;
}
.firstleft{
    width:50%;
    justify-content: center;
    align-content: center;

}
.content1{
    width: fit-content;
    margin: auto;
    
}
.content2{
    width: fit-content;
    margin: auto;

}
.firstright{
    width:50%;
    justify-content: center;
    align-content: center;
}
.second{
    width:100%;
    height:86vh;
    display: flex;
}

.secondleft{
    width:50%;
    justify-content: center;
    align-content: center;
}
.content3{
    width: fit-content;
    margin: auto;
}
.content4{
    width: fit-content;
    margin: auto;
}
.secondright{
    width:50%;
    justify-content: center;
    align-content: center;
}
.Boxes{
    width:100%;
    height:100%;

    display: flex;
    gap:.3%;
}
.box{
    width:24.7%;
    height:100%;

    text-align: center;
}
.feedbacksection{
    width:100%;
    height:80vh;
    justify-content: center;
    align-content: center;
}
.footersection{
    width:100%;
    height:100%;
    align-content: center;
}
@media(max-width:843px){
    .first{
        display:block;
    }
    .firstleft{
        width:100%;
    }
    .firstright{
        width:100%;
        overflow: hidden;
    }
    .second{
        display:flex;
        flex-wrap: wrap-reverse;
    }
    .secondleft{
        width:100%;
        overflow: hidden;
    }
    .secondright{
        width:100%;
    }
    .Boxes{
        width:100%;
        display: block;
    }
    .box{
        width:fit-content;
        margin: auto;
    }
}