.Home{
    width:100%;
    height:100%;
    background-color: rgb(250, 248, 248);

}

.section1{
    margin-left:10%;
    width:90%;
}

.cardd{
    width:90%;
    height:100%;
    margin:auto;
    overflow: scroll;
}

.gif{
    width:100%;
    height:100%;
    margin:auto;
    margin-top:12%;
    overflow: hidden;


}
.section2{
    margin:10%;
    width:90%;
}
.cardd2{
    width:100%;
    margin:auto;
    margin-top:12%;
    overflow:hidden

}
.gif2{
    width:100%;
    margin:auto;
    margin-top:20%;
    overflow: hidden;


}
.section3{
    width:90%;
    margin:8%;
   

}

.section4{
    margin-top:130px;
}

@media (min-Width: 1200px) {
    
    .imgcards{
        display: flex;
    }
    .section1{
        display: flex;
    }
    .gif{
        width:50%;
        position:relative;
        bottom:80px;

    }
    .section2{
        display:flex;
    }

    .gif2{
        width:70%;
        position: relative;
    bottom:80px;


    }
    .cardd2{
        width:50%;
    }
  }

