.infocard{
    width:100%;
    display: flex;
}
.box {
    width:16.66%;
    height:8vh;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 0.7rem;
}

.box select{
    width:0.5rem;
}
#reject{
    color:red;
}
.status{
    width:16.66%;
    height:8vh;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#select{
    color:green;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.status select{
    color: red;
    width:4.5rem; 
    font-size: 0.7rem;

  }

  @media(max-width:450px){
    .status select{
        width:2rem;
    }
  }