.Navbar{
    margin:-8px;
    background-color: rgb(114, 5, 216);
    color: antiquewhite;
    width:10%;
    height:100%;
    text-align: center;
    position:fixed;

}
.icon img{
    width:90%;
    margin-top:60%;
    padding:10%;
    
}

@media(min-width:683px){
    .icon img{
        width:50%;
        margin-top:20%;
        padding:13%;
        
    }
    .icon{
       margin: top 10px;
    }
    .Navbar{
        margin:-8px;
        background-color: rgb(114, 5, 216);
        color: antiquewhite;
        width:5%;
        height:100%;
        text-align: center;
        position:fixed;
    }
    .options{
        width:100%;
    }
    

}

.Navbar ul li{
    color: antiquewhite;
}
.options{
    width:90%;
    height:100%;
    margin-top:100%;
}
