.smallcard{
    width:60%;
    height:100%;
    padding:20%;
    align-content: center;
    border-radius: 12px;
    box-shadow: 1px 2px 5px 3px rgb(92, 90, 90);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 2;
}