.dashboard{
    width:94%;
    height:100%;
    margin-left:5%;
}
.dashcon1{
    width:100%;
   min-height:50vh;;
   height: 100%;
    display: flex;
    gap:1%;
    
}
.element1{
    width:48%;
    justify-content: center;
    align-content: center;

}
.item1{
    width:90%;
    margin: auto;
}
.item2{
    margin:auto;
}
.element2{
    width:25%;
    align-content: center;

}
.element3{
    width:25%;
    align-content: center;

}
.dashcon2{
    width:95%;
    margin-left: 4%;;
    height:50vh;
}
@media(max-width:700px){
    .dashcon1{
        display:block;
    }
    .element1{
        width:100%;
        margin:auto;
    }
    .element2{
        width:90%;
        margin:auto;
    }
    .element3{
        width:90%;
        margin: auto;
    }
}
